@font-face {
    font-family: 'josefin';
    src: url('./josefinsans-variablefont_wght-webfont.woff2') format('woff2'),
         url('./josefinsans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    background-image: url(./radiant-gradient.svg);
	background-attachment: fixed;
	background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

h1{
	text-align: center;
	text-transform: uppercase;
	margin: 15px 0;
	color: #333;
	font-size: 5rem;
    font-family: 'josefin';
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'josefin_sansthin';
    src: url('./josefinsans-variablefont_wght-webfont.woff2') format('woff2'),
         url('./josefinsans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

form{
    display: inline-block;
    width: auto;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    border: 3px solid #4B194D;
    transition: 0.3s;
    background-color: #FFFFFFBB;
    padding: 75px;
    border-radius: 30px;
}

button {
    font-family: 'josefin';
    src: url('./josefinsans-variablefont_wght-webfont.woff2') format('woff2'),
         url('./josefinsans-variablefont_wght-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: #e4db7f;
    color: black;
    border: 2px solid #4B194D;
    padding: 8px 15px;
    display: inline-block;
    margin: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: #5f59cc;
    color: white;
    border: 2px solid #5f59cc;
}

button.logout {
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #db1010;
    padding: 8px 15px;
    display: inline-block;
    margin: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover.logout {
    background-color: #db1010;
    color: white;
}

section.wait-page{
    display: inline-block;
    width: auto;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    border: 3px solid #4B194D;
    transition: 0.3s;
    background-color: white;
    padding: 25px;
    border-radius: 30px;
}

